.reminder {
    height: 300px;
    width: 375px;
    margin: 50px;
    border-color: black;
    border-radius: 5px;
    border: 5px solid;
    display: inline;
    float: left;
    background-color: #f8e88a;
}

.remindline {
    margin-left: 10px;
    margin-top: 5px;
    width: 350px;
    height: 35px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: black;
    position: relative;
}

.remindword {

    display: -webkit-inline-box;
    font-size: x-large;
    margin-top: 15px;
}

.remindcount {
    width: 75px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute;
    top: -15px;
}

.remindnumber {
    width: 100px;
    height: 56.4px;
    margin-left: 25px;
    margin-right: 0px;
    position: absolute;
    top: -15px;
    left: 80px;
    letter-spacing: 8px;
}

.remindresult {
    width: 150px;
    height: 56.4px;
    margin-left: 55px;
    margin-right: 0px;
    position: absolute;
    top: -15px;
    left: 180px;
    letter-spacing: 8px;
}

.bomb {
    height: 500px;
    width: 500px;
    background-image: url(../jpg/炸彈圖片.png);
    display: inline;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 100px;
    position: relative;
}

.bombsliver {
    width: 240px;
    height: 100px;
    background-color: #f5f5f5;
    position: absolute;
    top: 250px;
    border-radius: 25px;
    border: solid 5px silver;
    opacity: .98;
    left: 70px;
}

.bombnumber {
    height: 75px;
    width: 40px;
    border-radius: 5px;
    float: left;
    background-size: contain;
}

.bm1 {
    position: relative;
    top: 10px;
    left: 10px;
}

.bm2 {
    position: relative;
    top: 10px;
    left: 17.5px;
}

.bm3 {
    position: relative;
    top: 10px;
    left: 10px;
}

.bm4 {
    position: relative;
    top: 10px;
    left: 15px;
}

.bombdot {
    height: 25px;
    width: 25px;
    float: left;
    background-size: contain;
}

.bd1 {
    position: relative;
    top: 20px;
    left: 25px;
}

.bd2 {
    position: relative;
    top: 50px;
    left: 0px;
}

.button {
    margin-top: 60px;
    height: 100px;
    width: 300px;
    background-color: rgba(231, 255, 15, 0.877);
    border-radius: 10px;
    margin-left: 550px;
}

.inputblank {
    height: 80px;
    width: 300px;
    font-size: xx-large;
    margin-left: 40px;
    margin-top: 180px;
    text-align: center;
    letter-spacing: 10px;
}

::placeholder {
    /* CSS 3 標準 */

    font-size: xx-large;
    letter-spacing: normal;
}

::-webkit-input-placeholder {
    /* Chrome, Safari */

    font-size: xx-large;
    letter-spacing: normal;
}

:-ms-input-placeholder {
    /* IE 10+ */

    font-size: xx-large;
    letter-spacing: normal;
}

::-moz-placeholder {
    /* Firefox 19+ */

    font-size: xx-large;
    letter-spacing: normal;
    opacity: 1;

}

.giveans {
    margin-left: 50px;
    display: none;
}